.clock {
    grid-row: 3/4;
    grid-column: 2/10;
    align-self: end;

    background-color: $color-gray-one;
    text-align: left;
    width: 100%;
    height: 80%;

    -webkit-clip-path: polygon(7% 0, 100% 0, 93% 100%, 0% 100%);
    clip-path: polygon(7% 0, 100% 0, 93% 100%, 0% 100%);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 275px));
    grid-column-gap: 10px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;

    font-family: $font-robo;
    &__title {
        font-size: 22px;
        line-height: 25px;
        color: $color-yellow-one;
    }
    &__amount {
        font-size: 90px;
        font-weight: bold;
        line-height: 100px;
        color: white;
    }
    &__box {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
    }
}